{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- 용헌소개 -->
        <div class="container">
            <div class="row  align-items-center justify-content-around border border-danger">
                <div class="col-12 col-md-3">
                    <img src="media/yong.jpg" class="img-fluid" >
                </div>
                <div class="col-12 col-md-5 fs-3 ms-md-4 text-end">
                    <h1>감독 송용헌</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis id aliquam illo sapiente molestiae totam a facere. Sapiente odio fugit iure temporibus a quasi iusto recusandae vero. Quibusdam, harum id.
                    </p>
                </div>
            </div>
        </div>

        <!-- 지성소개 -->
        <div class="container pt-lg-5">
            <div class="row  align-items-center justify-content-around border border-primary">
                <div class="col-12 col-md-5 fs-3 ms-md-4 text-start">
                    <h1>기획 안지성</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis id aliquam illo sapiente molestiae totam a facere. Sapiente odio fugit iure temporibus a quasi iusto recusandae vero. Quibusdam, harum id.
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <img src="media/jee.jpg" class="img-fluid" >
                </div>
            </div>
        </div>

        <!-- 지현소개 -->
        <div class="container pt-lg-5">
            <div class="row  align-items-center justify-content-around border border-success">
                <div class="col-12 col-md-3">
                    <img src="media/hyun.jpg" class="img-fluid" >
                </div>
                <div class="col-12 col-md-5 fs-3 ms-md-4 text-end">
                    <h1>AI 김지현</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis id aliquam illo sapiente molestiae totam a facere. Sapiente odio fugit iure temporibus a quasi iusto recusandae vero. Quibusdam, harum id.
                    </p>
                </div>
            </div>
        </div>
        <hr>


{% endblock %}