{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- 용헌소개 -->
        <div class="container">
            <div class="row  align-items-center justify-content-around border border-danger">
                <div class="col-12 col-md-3">
                    <img src="/media/yong.jpg" class="img-fluid" >
                </div>
                <div class="col-12 col-md-5 fs-3 ms-md-4 text-end">
                    <h1>감독 송용헌</h1>
                    <p>감독 송용헌. 스토리 기획부터 제작까지 맡았다. 자신의 세계를 보다 기민하고 구체적으로 표현하기 위해서 언리얼 과정을 듣게 됐다. 이번 발표를 통해서 바쁜 도시인의 모습을 담고자 노력했다.</p>
                </div>
            </div>
        </div>

        <!-- 지성소개 -->
        <div class="container pt-lg-5">
            <div class="row  align-items-center justify-content-around border border-primary">
                <div class="col-12 col-md-5 fs-3 ms-md-4 text-start">
                    <h1>기획 안지성</h1>
                    <p>기획자. 말도많고 탈도 많은 팀의 맏형으로 중심을 잡고 지금까지 이끌어왔다. 발표와 ppt제작, 진행일정 관리를 맡았다. </p>
                </div>
                <div class="col-12 col-md-3">
                    <img src="/media/jee.jpg" class="img-fluid" >
                </div>
            </div>
        </div>

        <!-- 지현소개 -->
        <div class="container pt-lg-5">
            <div class="row  align-items-center justify-content-around border border-success">
                <div class="col-12 col-md-3">
                    <img src="/media/hyun.jpg" class="img-fluid" >
                </div>
                <div class="col-12 col-md-5 fs-3 ms-md-4 text-end">
                    <h1>AI 김지현</h1>
                    <p>엠엘옵스를 목표로 공부중이다. 이번 프로젝트에서는 홈페이지 제작과 손동작 인식을 맡았다.
                    </p>
                </div>
            </div>
        </div>
        <hr>


{% endblock %}